*.pdb
*.xml
*.data
*/SavedWorlds/
Data/Maps/*/LogicSystemCache/*
UserSettings/Caches/
UserSettings/Logs/
UserSettings/_Temp/
UserSettings/Screenshots/
Scripts.dll
Scripts.pdb
UserSettings/Configs/DeploymentTool.config
UserSettings/Configs/Engine.config
UserSettings/Configs/MapEditor.config
UserSettings/Configs/MapEditorDocking.config
UserSettings/Configs/ResourceEditor.config
UserSettings/Configs/ResourceEditorDocking.config
UserSettings/Configs/ShaderCacheCompiler.config
UserSettings/Configs/ToolsGeneral.config
UserSettings/Configs/LogicEditorDocking.config
