Debug
{
	drawStaticPhysics = False
	drawDynamicPhysics = False
	drawPhysicsRayVolumeChecks = False
	drawSceneGraphOfSceneObjects = False
	drawSceneGraphOfMapObjects = False
	drawRegions = False
	drawMapObjectBounds = False
	drawSceneNodeBounds = False
	drawStaticMeshObjectBounds = False
	drawZonesPortalsOccluders = False
	drawLights = False
	drawStaticGeometry = True
	drawModels = True
	drawEffects = True
	drawGui = True
	drawFullScreenEffects = True
	drawWireframe = False
	drawGameSpecificDebugGeometry = False
	frustumTest = False
	enableDynamicLighting = True
	allowHardwareInstancing = True
	drawShadowDebugging = False
	allowPortalSystem = True
}
DedicatedServer
{
	lastMapName = "Maps\\TestPerf\\Map.map"
	loadMapAtStartup = False
	allowCustomClientCommands = True
}
AI
{
	IdleWalkDistance = 10
	WaitTimeOnPointMaxPatrol = 5 8
	WaitTimeOnPointMaxIdle = 5 14
	WaitTimeOnPointMaxAlert = 9 12
	TimeToLookAlert = 2
	TimeToLook = 2.5
	InteractionDistance = 1
	AI_ATTACK_SOUND = 2
	AI_RUN_SOUND = 2
	AI_LOOT_SOUND = 1.5
	AI_CRAWL_SOUND = 0.2
	AI_LAY_SOUND = 0.4
	AI_LAY_VISION = 0.5
	AI_CRAWL_VISION = 0.75
	AI_ATTACK_VISION = 1.5
	AI_RUN_SENSE_SOUND = 0.5
	AI_LAY_SENSE_VISION = 1
	AI_MAGIC_EFFECT_SOUND = 4
	AI_MAX_FOOTSTEP_BONUS = 2
	AI_MAX_VISION_BONUS = 2
	AI_MAX_VISIBILITY_INFO_MULT = 3
	AI_DEFAULT_CALL_FOR_HELP_RADIUS = 10
	AI_HEAR_FOOTSTEP_DELAY = 26
	AI_HEAR_CALL_FOR_HELP_DELAY = 26
}
"AI Debug"
{
	AlwaysVisible = False
}
Game
{
	QuestMessage = 0.9294118 0.8392157 0.02745098
	StageMessage = 0.8156863 0.7019608 0.2235294
	LogItem = 0.8941177 0.8431373 0.654902
	QuestLight = 0.78 0.117 0.55
	HeroLight = 0.6640625 0.921875 1
	ExpTextQuest = 0.8941177 0.8431373 0.654902
	ExpTextUnit = 0.4117647 0.7372549 0.7490196
	DmgHeroText = 0 1 0
	DmgEnemyText = 1 0 0
	DmgNeutralText = 0.8941177 0.8431373 0.654902
	ShowFootprints = True
	UnitActivationMult = 2
}
